
@media all and (max-width: 1114px) {
    .nav-links ul li a{
      display: none;
    }
    .nav-links .menu_icon{
        position: relative;
        width: 58px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        right: 0px;

    }
    .about-section{
        background-image: none;
    }
    .inner-container{
        width: 60%;
    }
    .nav-links .menu_icon div{
       border: 2px solid white;
        width: 100%;
    }
}
@media all and (max-width: 530px) {
    .homepage{
        width: 288%;
    }
    /*-----------about--------------*/
    .about-section{
      background-image: none;
    }
    .about-section{
        width: 275%;
    }
    .inner-container{
        right: 61px;
    }
    /*----------Education----------------------*/
    .education{
        position: relative;
        min-height: 969px;
        width: 288%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .education div:nth-child(2){
        position: absolute;
        top: 188px;

        width: 590px;
        height: 214px;

    }
    .education div:nth-child(3){
        position: absolute;
        top: 466px;

        width: 590px;
        height: 214px;

    }
    .education div:nth-child(4){
        position: absolute;
        top: 748px;

        width: 590px;
        height: 214px;

    }
    .education>div>h1{
        font-size: 30px;
    }
    .education>div>h3{
        position: absolute;
        color: red;
        top :60px;
        font-family: 'Kufam', sans-serif;
    }
    .education>div>p{
        position: absolute;
        color: #4c4a4a;
        font-size: 24px;
        bottom: 30%;
        font-family: 'Kufam', sans-serif;
        text-align: center;
    }


    .skill-area {
        width: 288vw;
        height: 848px;

    }
    .skill-area div:nth-child(3){
        position: absolute;
        left: 120px;
        top:245px;
    }
    .skill-area div:nth-child(4){
        position: absolute;
        left: 427px;
        top:245px;
    }
    .skill-area div:nth-child(5){
        position: absolute;
        left: 726px;
        top:245px;
    }
    .skill-area div:nth-child(6){
        position: absolute;
        left: 120px;
        top: 533px;
    }
    .skill-area div:nth-child(7){
        position: absolute;
        left: 427px;
        top: 533px;
    }
    .skill-area div:nth-child(8){
        position: absolute;
        left:726px;
        top: 533px;
    }
    /*------------------------Do Projects-------------------*/
    .project-area{
        width: 287%;
        height: 906px;

    }
    .project-Container{
        position: absolute;
    }
    .project-Container:nth-child(1){

        left:57px;
        top: 46px;
    }

    .project-Container:nth-child(2){

        left:372px;
        top: 46px;
    }
    .project-Container:nth-child(3){

        left:693px;
        top: 46px;
    }
    .load-moreProject{
        left:473px
    }

    /*------------------------My Service-----------------------*/
    .my-services{
        width: 289%;
    }

}